*
#second-page {
  margin: 8px 15%;
}
.topnav{
  margin: -8px -21.4%;
}
div.article-logo {
  margin-top:-.4vw;
  display:block ;
  background-color:#1c2786;
  }
  img#logo {
    height: 3vw;
    display: inline;
    margin-top: 1vw ;
    margin-left: 50px;
    align-items: center;
  }
  div.article-tex {
    display: inline;
    text-align: center;
  }


  a:-webkit-any-link {
    vertical-align: 25px;
display: inline-flex;
}
.topnav a {
  color: #8aa5c5;
  
  font-size: 17px;
  width: 14%;
  line-height: 20px;
  bottom: 30px;
  padding-left: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}



 
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }



#article h1 {
    text-align: center;
    margin-left: 50px;
    
}


#article{
     display: grid;
     margin: 5px 5px -1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 2fr 8fr;
    grid-gap: 20px; /* Adjust the gap as needed */
    height: 40%;
    justify-content: space-around;
    
  }
  section .article-box img {
    align-items: center;
    
  }
  
#article img {
    width: 50%;
    height: auto 200px; 
    border: none;
    padding-left: 10px;
  }

.article-box label {
    font-size: 20px;
  }
section .subhead {
  border: 3px solid white;
}
#article header {
    grid-column: span 3;
    font-weight: 100;
    stroke:  #79c6d7;
    color: #79c6d7;
    text-align: center;
    font-family: Julius Sans One;
    font-size: 60px;
    font-style: normal;
    height: 70px;
    background-color: #ffffff;
    letter-spacing: 10px;
    align-content: center;
   
  }
.add, .subheader-1, .subheader-2, .subheader-3, .subheader-4 { 
  grid-column: span 3; /* Make the header and subheaders span across all columns */
   /* Add a border around the spanning elements */
  display: flex; /* Allow the content to wrap to the next line if needed */
  align-items:normal; /* Center the content vertically */
  
}
section .mlists {
  grid-column: span 3;
  display: flex;
  align-items: normal;
  overflow: scroll;
  
}
  .article-box .star-rating {
    unicode-bidi: isolate;
  }

.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  width:5em;
  scale: 2;
  margin-top: 15px;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label 
{
  color:#fc0;
}


:-webkit-any(.subheader-1, .subheader-2, .subheader-3, .subheader-4) {
    grid-column: span 3; /* Place the subheader in the first column */
    font-size: 40px;
    font-family: Nokora;
    font-style: normal;
    color: #ffffff;
    -webkit-text-stroke: 2px #0876b2;
    font-weight: 770;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    text-shadow:2px 5px 7px black;
}

label {
    margin-bottom: 5px;
    justify-content: space-around;
  }

textarea .article-box {
   
    padding: 5px;
    border: 1px solid #ccc;
    grid-column: span 2;
    grid-row: 1;
    resize: none;
  }
input[type="textarea"]{
  height: 95px;
  width: 800px;
  align-content: center;
  position: relative;

 }

input[type="submit-text"] {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  
}
.add input[type="textarea"]{
  border: 1px solid black;
  border-width: 5px;
  box-shadow:2px 5px 7px black;
  
}
input[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="search" i]{
  border:2px solid #111;
  width: 120px;
  
}
    

*.article-box {
    border: 2px solid white;
    padding: 20px;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 2fr 8fr;
    display: -ms-inline-grid;
    flex-wrap:wrap;
  } 

body
{
  font-family: Open sans, Helvetica;
  background: #111;
  color: white;
  font-size: 16px;

}

h1
{
  font-weight: lighter;
  display:inline-flex;
}




textarea {

    height: 100px;
    width: 300px;
    resize: none;
  
}

svg {
  padding-top: 8px;
  
}
svg.star.hover{
  fill: gold;

}
 
#subheader-1 #add input[type="submit"]{
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  height: 10px;
}



