*
#explore style {
    padding: 10px ;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 3px;
 background-image: linear-gradient(180deg, #4B779B, #333651) no-repeat;
 background-repeat: no-repeat;
}
#second-page {
    margin: 10px 10%;
    background: linear-gradient( #4B779B, #333651) no-repeat;
    height: 1900px ;
}
section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 50%;
    height: 300px;
    border-width: 5px ;
    border-radius: 5px;
}

 #explore h1  {
    text-align: center;   
}

.feature-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
}

body
{
  font-family: Open sans, Helvetica;
  background: #111;
  color: white;
  font-size: 16px;
}

h1
{
  font-weight: lighter;
}




#article {
    width: 100px;
    height: 200px;
    
}

 #image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #third-page #image-preview img {
    max-width: 100%;
    max-height: 100%;
  }