#paintings-page {
    background: linear-gradient( #79c6d7 , #4B779B, #3f5676,  #333651, #22253b,  #333651);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    padding: 20px;
}