*
#third-page {
    margin: 10px 12%;
       height:max-content;
   }
   body {
    background-color: #79C6D7;
   }

   img#logo {
    height: 3vw;
    display: inline;
    margin-top: 1vw ;
    align-items: center;
  }

  .content-box {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .content-box label {
    display: block;
    margin-bottom: 5px;
  }
main {
    margin: 10px ;
   }
   .topnav-3{
    margin: -8px -15.8%;
    width: 150%;
  }
  .topnav a {
    color: #8aa5c5;
    
    font-size: 17px;
    width: 14%;
    line-height: 20px;
    bottom: 30px;
    padding-left: 20px;
  }
  
  .topnav-3 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav-3 a.active {
    background-color: #2196F3;
    color: white;
  }
   .topnav-3 input[type=text] {
      border: 1px solid #ccc;  
    }
   
   .topnav-3 label {
      font-size: 16px;
  }
   .topnav-3 h1 {
      font-size: 16px;
  }
  
  
   header #desktop-nav menu {
    display: flex;
    gap: 40px;
  }
  
  nav {
    display: flex;
    unicode-bidi: isolate;
  }
  header {
    font-family: "Nokora";
    justify-content: space-around;
    font-size: 29px;
  }
  
  header menu li {
    list-style: none;
  }
   div.article-logo-3 {
    margin-top:-.4vw;
    display:block ;
    background-color:#1c2786;
    }
    .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        background-color: white;
      }
      
      /* Full-width input fields */
      .form-container input[type=email], .form-container input[type=password] {
        width: 90%;
        padding: 15px;
        margin: 0px 10px 8%;
        border: 1px solid black;
        background: #f1f1f1;
      }
      
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      button#create {
        background-color: rgb(255, 162, 0);
        color: white;
        display: flex;
        border: none;
        align-items: center;
        justify-content: space-around;
      }
       #login.btn.cancel {
      background-color: rgb(255, 162, 0);
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      }
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
      .form-container h1 {
        line-height: 35px;
        color:black;
      }
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
      
input[type="textarea"]{
    padding: 10px 2%;
    margin-bottom: 6px;
  
   }
  
  input[type="submit-text"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    
  }
  .add input[type="textarea"]{
    border: 1px solid black;
    border-width: 5px;
    box-shadow:2px 5px 7px black;
    
  }
  input[type="submit"] {
      padding: 5px 10px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
  }
  input[type="search" i]{
    border:2px solid #111;
    width: 120px;
  }
  label{
    color:black
  }

  

  .profile-picture {
    opacity: 0.75;
    height: 250px;
    width: 250px;
    position: relative;
    overflow: hidden;
  
    /* default image */
    background: url('https://qph.cf2.quoracdn.net/main-qimg-f32f85d21d59a5540948c3bfbce52e68');
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 8px 6px -6px black;
  }
  .file-uploader {
    /* make it invisible */
    opacity: 0;
    /* make it take the full height and width of the parent container */
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* make it absolute */
    position: absolute;
    top: 0%;
    left: 0%;
  }
  .upload-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* initial icon state */
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #ccc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bbb;
  }
  .profile-picture:hover .upload-icon {
    opacity: 1;
  }
  