*  {
    margin: 4;
    padding: 4;

  }
 
 body {
    background-color: #79C6D7;
    
    font-family: "Julius Sans One" ;
    font-size: 24px;
    line-height: 35px;
    font-weight:2px;
    align-content: center;
}
main {
   padding: 10px 10%;
}

#link p {
padding-top: 1px;
}
 #article-film {
   display: flex;
   unicode-bidi: isolate;
   
     
 }
 #film-container {
   display: flex;
 }
 #film-container img {
   width: 100%;
 }
 #newsletter-subscribe button {
   background-color: #79C6D7;
 }
#page-button a{
   
   border-radius: 1px;
   color: #E5FAFF;
   font-family: "Julius Sans One";
   font-size: large;
   
}
#page-button a:hover {
   color: #333651;
}
#page-button :hover {
   color: #79C6D7;
   background-color: #E5FAFF;
}
#page-button button{
   height: 80px;
   border-radius: 60px;
   background-color:#4B779B;
   stroke-opacity: 10px;
   
}

 *#perspectives h1 {
    font-family:"Nokora";
    font-style: normal;
    font-weight: 500;
    font-size: 116px;
    line-height: 13%;
    color:#E5FAFF;
    -webkit-text-stroke-color:#333651; 
    -webkit-text-stroke-width: 1.5px;
    text-align:center;
    padding-top: 60px;
    padding-left: 10px;
    font-weight: 400;
    margin-left: auto;
   
    
 }
 #movies {
   color: #79C6D7; font-size: large;
 }

 
 h2 {

 }
 .content-box {
   font-family: "Julius Sans One";
   font-size: 15px;
   line-height: 14px;
 }
 .film-section {
   width: 200px ;
   height: 5000%;
 }
 header .content-box{
   font-family: "Nokora";
 }
 header {
   font-family: "Nokora";
   font-size: 40px;
   position: absolute;
   text-align: left;
   line-height: 20%;
 }
 .stroke-outside {
   paint-order: stroke fill;
 }
 h1 span {
   color: #E5FAFF;
 }
#film {
   width: 500px;
   
}
#film-container {
   width: 50px;
   margin: auto;
}
 
 .content-box {
   width: 460px;
   height: 358px;
   padding: 80px;
   border: none;
   background: rgba(255, 255, 255, 0.64);
   border-radius: 68px ;
   margin-left: 1%;
 }
  div.content-box {
   text-align: right;
 }
 ol {
   display: block;
   list-style-type: decimal;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 10px;
   unicode-bidi: isolate;
   line-height: 100px;
   text-align: left;
   font-size: 20px;

}
 #why h1 {
   text-align: left;
   font-family: "Nokora";
   font-size: 20px;
 }
 #why p {
   font-family: "Julius Sans One";
   text-indent: 8em;
   padding: 10px ;
   text-align: center;
 }
 #perspective p {
   font-family: "Nokora";
   text-indent: 5em;
   font-size: auto;
   padding-left: 87px;
   padding-right: 87px;
   color: #333651;
   text-transform: capitalize;
 }

 
 

 #perspective h2 {
   text-align: center;
   margin-left: auto;
 }


#newsletter-subscribe {
   background-color: #4B779B;
   padding: 10px;
   width: 60%;
   height: 50%;
   margin-left: 20%;
   border-radius: 30px;
}
