*  
main {
   padding: 5%;
   margin-left: 50px;
   margin-right: 23px;
   border: 2px solid white;
}
*#perspectives h1 {
  font-family:"Nokora";
  font-style: normal;
  font-weight: 500;
  font-size: 8vw;
  line-height: 13%;
  color:#E5FAFF;
  margin-right: 7px;
  -webkit-text-stroke-color:#333651; 
  -webkit-text-stroke-width: 1.5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
} 
.stroke-outside {
  paint-order: stroke fill;
}
h1 span {
  color: #E5FAFF;
}
#perspective h2 {
  padding-top: 1px;
  text-align: center;
  }
#perspective p {
font-family: "Nokora";
text-indent: 5em;
font-size: 32px;
padding-left: 87px;
padding-right: 5%;
color: #333651;
text-transform: capitalize;
z-index: 99;
position: relative;
}
body {
  background-color: #79C6D7;
  
  font-family: "Julius Sans One" ;
  font-size: 24px;
  line-height: 35px;
  font-weight:2px;
}
#link p {
padding-top: 1px;
}
 
 #film {
  float:right;
  width: 40%;
  margin: 5px 10%; 
  position: relative;
  top: -50px;
}
 #content-box header {
   font-family: "Nokora";
   display: flex;
   justify-content: space-around;
      line-height: 1px;
   font-size: 29px;
   position: relative;
 }
 
 :-webkit-any(h1) section {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0em;
  letter-spacing: normal;
}
 .content-box {
   width: 500px;
   height: 430px;
   padding: 80px;
   border: none;
   background: rgba(255, 255, 255, 0.64);
   border-radius: 68px ;
   margin-left: 5%;
 }
 .content-box {
  font-family: "Julius Sans One";
  font-size: 15px;
  line-height: 7px;
}
section #perspective #why .content-box .text .idea{
  border: 2px white;
  padding: 5%;
}
  div.content-box {
   text-align: right;
 }
 ol {
   display: block;
   list-style-type: decimal;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 1px;
   unicode-bidi: isolate;
   line-height: 55px;
   text-align: left;
   font-size: 24px;
   stroke-width: 10px;

}

#why {
  padding: 10px 5%;
  text-align: left;
}
 #why h1 {
   text-align: left;
   font-family: "Nokora";
   font-size: 20px;
 }
 #why p {
   font-family: "Julius Sans One";
   text-indent: 4em;
   margin-right: 2px ;
 }

#newsletter-subscribe {
   background-color: #4B779B;
   padding: 10px;
   width: 60%;
   height: 50%;
   margin-left: 20%;
   border-radius: 30px;
}
#newsletter-subscribe button {
  background-color: #79C6D7;
}
#page-button a{
  
  border-radius: 1px;
  color: #E5FAFF;
  font-family: "Julius Sans One";
  font-size: large; 
}
#page-button a:hover {
  color: #333651;
}
#page-button :hover {
  color: #79C6D7;
  background-color: #E5FAFF;
}
#page-button button{
  height: 80px;
  border-radius: 60px;
  background-color:#4B779B;
  stroke-opacity: 10px;
  
}
label[for="textarea"] {
  text-align: center;
  font-size: small;
}

#tv-shows {

}


