section span {
  display:inline-block;
  line-height: 20px;
  letter-spacing: auto;
}
.rotate90 {
   transform: rotate(90deg) ;
   padding-inline: 5px;
   transform-origin: top;
}
.rotate-90 {
   transform: rotate(-90deg) ;
   transform-origin: top;
}
.rotate180 {
  transform: rotate(180deg) ;
  transform-origin: top;
}
.rotate270 {
  transform: rotate(270deg) ;
  transform-origin: top;
}
span {
 letter-spacing: (auto) ;
}
